* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    border: 1px solid black;
}

.on {
    display: flex;
    background-color: red;
    width: 100vw;
    height: 50px;
    color: aliceblue;
}

.p1 {
    margin-right: 450px;
    margin-left: 5px;
}

.p2,
.p3,
.p4,
.p5,
.p6 {
    margin-right: 50px;
}

.bottom {
    display: flex;
    background-color: beige;
    width: 100vw;
    height: 100px;
}

.four>.login-form__input {
    width: 600px;
    height: 40px;
    margin: 30px;
    border-radius: 1000px;

}

.menu {
    background-color: #CCCCCC;
    width: 200px;
    height: 300px;
}

.l1,
.l2,
.l3,
.l4,
.l5,
.l6,
.l7,
.l8 {
    padding-top: 15px;
    padding-left: 5px;
}
.menu > .l1 i{
    margin-left: 80px;
}
.menu> .l2 i{
    margin-left: 60px;
}
.menu> .l3 i{
    margin-left: 25px;
}
.menu> .l7 i{
    margin-left: 16px;
}
.menu> .l8 i{
    margin-left: 87px;
}
.menu> .l4 i,.l5 i,.l6 i{
    margin-left: 32px;
}
.menu.l1::before{
    content: 'Galaxynot4';
    position: absolute;
}
.menu.l1::before:hover{
    content: 'Galaxynot4';
    background-color: black;
    width: 100px;
    height: 100px;
}
