* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font1: 'Inconsolata', monospace;
    --font2: 'Raleway', sans-serif;
}

.one {
    margin: 60px 50px 90px 88px;
}

.two {
    font-family: var(--font2);
    font-size: 20px;
    display: inline;
    margin-right: 1246px;
}

.fa-solid,
.fa-bars {
    font-size: 30px;
}

.four {
    font-family: var(--font2);
    font-size: 25px;
    margin-left: 88px;
}

.five {
    font-family: var(--font1);
    font-size: 15px;
    margin-left: 88px;
}

.six1,
.six2,
.six3,
.six4,
.six5 {
    display: inline;
    font-family: var(--font1);
    font-size: 20px;
    margin-left: 20px;
}

.six {
    margin-left: 144vh;
    margin-top: -24px;
}

.banner {
    margin-top: 5%;
}

.banner-top {
    display: flex;
    justify-content: space-between;
}

.banner-top div img {
    width: 100%;
}

.banner-under {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.banner-under div img {
    width: 100%;
}

.img-middle {
    padding: 0 20px;
}

.seven {
    margin-top: 15%;
}

.seven-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seven1-text h3 {
    display: flex;
    justify-content: center;
    font-family: var(--font1);
    font-weight: 600;
}

.seven1-text p {
    font-family: var(--font1);
    font-weight: 400;
}

.text {
    display: flex;
    justify-content: center;
}

.content-top-img {
    display: flex;
    justify-content: space-around;
}

.content-top-img div img {
    width: 100%;
}

.content-middle {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.content-middle-text {
    width: 22%;
}

.content-middle-text i {
    font-size: 1.6rem;
    padding-bottom: 20px;
}

.content-middle-text p {
    font-family: var(--font1);
    font-weight: 400;
}

.text-info {
    margin-bottom: 10px;
}

.icon {
    font-size: 1rem !important;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.footer-left p:nth-child(1) {
    font-family: var(--font1);
    font-weight: 300;
}

.footer-left p:nth-child(2) {
    font-family: var(--font1);
    font-weight: 400;
}

.footer-right i {
    padding: 10px;
    border-radius: 50%;
    background-color: #ccc;
}

.face,
.inta,
.git {
    margin-left: 20px;
}